.about-header {
  background: linear-gradient(rgba(224, 224, 224, 0.6), rgba(224, 224, 224, 0.6)), url("../images/infiniti-crop.jpeg");
  background-size: cover;
  position: relative;
}

.about-section-1 {
  width: 100%;
  background-color: var(--background);
  padding: 2%;
}

.about-section-1 h2 {
  color: white;
  font-family: 'PT Sans', sans-serif;
  text-align: left;
  padding-left: 16%;
}

.about-section-1 p {
  font-family: 'Lato', sans-serif;
  color: white;
  width: 70%;
  margin: 0 auto;
  text-align: left;
  padding: 1%;
  font-size: 1.2em;
}