.about-header {
  background: linear-gradient(rgba(224, 224, 224, 0.6), rgba(224, 224, 224, 0.6)), url("../images/pvs-2-crop.jpeg");
  background-size: cover;
  height: 60vh;
  padding-top: 8vw;
  position: relative;
}

.about-section-1 {
  width: 100%;
}

.about-section-1 p {
  font-family: 'Lato', sans-serif;
  width: 70%;
  margin: 0 auto;
  text-align: left;
}