.contact-header {
  background: linear-gradient(rgba(24, 24, 24, 0.3), rgba(24, 24, 24, 0.3)), url("../images/maserati2.jpg");
  /* background-image: url("./images/home-background.jpg"); */
  background-size: cover;
  height: 100vh;
  padding-top: 10vw;
  position: relative;
}

.contact-header .ui.black.button {
  font-family: 'PT Sans', sans-serif;
  font-weight: 300;
  font-size: 1.6em;
  margin-top: 27vh;
  background-color: rgba(252, 252, 252, 0.05);
}

.contact-header .ui.black.button:hover {
  background-color: rgba(161, 161, 161, 0.05);
}

.contact-section-1 {
  padding: 3%;
  width: 100%;
  background-color: var(--background);
}

.contact-blurb {
  font-family: 'PT Sans', sans-serif;
  width: 40%;
  margin: 0 auto;
  color: white;
  border-radius: 0 12px 0 12px;
}

.contact-blurb p {
  font-size: 1.2em;
}
/* .contact-form-wrap {
  float: left;
  width: 45%;
  margin: 0 auto;
  background-color: rgba(243, 243, 243, 0.9);
  padding: 2%;
  border-radius: 8px;
} */

.ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url] {
  font-size: 1.4em;
}

.ui.form textarea {
  font-size: 1.4em;
}