.home-section-1 {
  height: 100vh;
  padding-top: 8vw;
  background-size: cover;
  background-image: url('../images/maxresdefault.jpg');
  -webkit-transition: background-image 1s ease;
     -moz-transition: background-image 1s ease;
          transition: background-image 1s ease;
}

.home-picture-fade {
  background-image: url("../images/fence-crop-2.jpg");
  background-size: cover;
  -webkit-transition: background-image 1.8s ease;
     -moz-transition: background-image 1.8s ease;
          transition: background-image 1.8s ease;
}

/* .home-picture-fade {
  background: url("../images/fence-crop-2.jpg");
  background-size: cover;
  -webkit-transition: background 2s ease-in;
     -moz-transition: background 2s ease-in;
          transition: background 2s ease-in;
} */

.home-section-1 img {
  width: 60%;
  margin-top: 6%;
  margin-bottom: 5%;
}

.home-section-1 .ui.white.button {
  display: none;
  margin-top: 30vh;
  background-color: rgba(241, 241, 241, 0.9);
  color: rgb(39, 39, 39);
  width: 240px;
  font-size: 1.5em;
}

.home-section-1 .ui.white.button:hover {
  background-color: rgba(201, 201, 201, 0.9);
}

.home-section-2 {
  color: white;
  background-color: var(--background);
  padding: 2%;
}

.home-section-2 p {
  font-family: 'Lato', sans-serif;
  width: 65%;
  margin: 0 auto;
  text-align: left;
  font-size: 1.2em;
  padding: 1%;
}

.home-section-2 hr {
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  width: 65%;
  margin-bottom: 10px;
}

.home-section-3 {
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: var(--background);
  text-align: left;
  width: 100%;
  margin: 0 auto;
  padding: 2% 12% 4% 12%;
  overflow: auto;
}

.home-section-3>div {
  width: 40%;
  float: left;
  padding: 10px;
  margin: 0 5%;
}

.home-section-3 .header-2 {
  margin-left: 0;
}

.home-section-3 h3 {
  font-size: 1.3em;
}

.home-section-3 h4 {
  font-size: 1.2em;
}

.home-section-3 ul {
  margin-bottom: 20px;
  font-size: 1.1em;
}

.home-section-3 img {
  width: 100%;
  border: 2px solid white;
  border-radius: 5px;
}