.home-section-1 {
  background: linear-gradient(rgba(224, 224, 224, 0.6), rgba(224, 224, 224, 0.6)), url("../images/fence-crop-2.jpg");
  /* background-image: url("./images/home-background.jpg"); */
  background-size: cover;
  height: 100vh;
  padding-top: 8vw;
  position: relative;
}

.home-section-1 img {
  width: 55%;
  margin-top: 7%;
  margin-bottom: 5%;
}

.home-section-2 {
  color: white;
  background-color: var(--background);
  padding: 2%;
}

.home-section-2 p {
  font-family: 'Lato', sans-serif;
  width: 65%;
  margin: 0 auto;
  text-align: left;
  font-size: 1.2em;
  padding: 1%;
}

.home-section-2 hr {
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  width: 65%;
  margin-bottom: 10px;
}

.home-section-3 {
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: var(--background);
  text-align: left;
  width: 100%;
  margin: 0 auto;
  padding: 2% 12% 4% 12%;
  overflow: auto;
}

.home-section-3>div {
  width: 40%;
  float: left;
  padding: 10px;
  margin: 0 5%;
}

.home-section-3 .header-2 {
  margin-left: 0;
}

.home-section-3 h3 {
  font-size: 1.4em;
}

.home-section-3 h4 {
  font-size: 1.2em;
}

.home-section-3 ul {
  margin-bottom: 20px;
  font-size: 1.1em;
}

.home-section-3 img {
  width: 100%;
  border: 2px solid white;
  border-radius: 5px;
}