.navbar {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  background-color: rgba(34, 34, 34, 0);
  color: white;
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030; 
  font-size: 1.2em;
  -webkit-transition-property: background-color transform -webkit-transform background-color;
  -webkit-transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: background-color transform -webkit-transformv background-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out; 
}

.opaque {
  background-color: rgba(231, 231, 231, 0.95)!important;
  color: black!important;
}

.white-text {
  color: white!important;
  -webkit-transition-property: color transform -webkit-transform color;
  -webkit-transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: color transform -webkit-transformv color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

.dark-text {
  color: rgb(41, 41, 41)!important;
  -webkit-transition-property: color transform -webkit-transform color;
  -webkit-transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: color transform -webkit-transformv color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

.navbar:hover {
  background-color: rgba(34, 34, 34, .3);
  color: white;
}

.navbar-brand {
  padding: 8px 8px 8px 40px;
  font-size: 1.3em;
}

.navbar-brand img {
  /* max-width: 100%; */
}

.navbar-header>.active {
  color: black;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
  color: black;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-menu>.dropdown-menu {
  right: 10em;
}

.dropdown-menu {
  background-color: rgba(34, 34, 34, 0.8);
  border: 0;
  margin: 0;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: gray;
  color: whitesmoke;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  background-color: gray;
  color: whitesmoke;
}

.dropdown-menu>li>a {
  color: lightgray;
  font-size: 1.1em;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  background-color: rgba(65, 65, 65, 0.7);
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  background-color: rgba(65, 65, 65, 0.7);
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: rgba(53, 53, 53, 0);
  color: rgb(41, 41, 41);
  text-decoration: underline;
}

.second-dropdown>.dropdown-menu {
  left: 166px!important;
  top: 0px!important;
  width: 180px!important;
}

/*
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  background-color: rgb(82, 82, 82);
} */

