.staff-header {
    background-color: var(--background);
    padding-top: 12vh;
}

.staff-header img {
    width: 50%;
}

.staff-title {
    font-family: 'PT Sans', sans-serif;
    color: white;
}

.staff-container hr {
    width: 75%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.staff-main-section {
    width: 100%;
    background-color: var(--background);
    padding: 50px;
}

.staff-wrap {
    width: 70%;
    overflow: auto;
    display: flex;
    margin: 0 auto;
}

.staff-wrap h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

.staff-wrap p {
    width: 90%;
    margin: 0 auto 10px auto;
    padding-left: 10px;
}

.staff-image {
    width: 40%;
}

.staff-image img {
    width: 100%;
    border: 1px solid white;
    border-radius: 4px;
}

.staff-information {
    font-family: 'Lato', sans-serif;
    width: 60%;
    color: white;
    flex-grow: 1;
}

@media only screen and (max-width: 768px) {
    .staff-container hr {
        width: 90%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .staff-main-section {
        padding: 20px;
    }

    .staff-wrap {
        flex-direction: column;
        width: 85%;
    }

    .staff-information h2 {
        font-size: 1.5em;
    }

    .staff-information h3 {
        font-size: 1.3em;
    }

    .staff-image {
        width: 50%;
        margin: 0 auto 20px auto;
    }

    .staff-information {
        width: 90%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 450px) {
    .staff-image {
        width: 80%;
        margin: 0 auto 10px auto;
    }

    .staff-information {
        width: 100%;
        margin: 0 auto;
    }
}
