@import url('./css/Navbar.css');
@import url('./css/Home.css');
@import url('./css/About.css');
@import url('./css/Services.css');
@import url('./css/Insurance.css');
@import url('./css/Testimonials.css');
@import url('./css/Footer.css');
@import url('./css/Contact.css');
@import url('./css/City.css');
@import url('./css/Quote.css');
@import url('./css/Staff.css');
@import url('./css/Work.css');

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

:root {
  --background: rgb(20, 20, 20);
}

html,body {
  height: 100%;
}

.App {
  text-align: center;
}

.header-1 {
  height: 55vh;
  padding-top: 24vh;
}

.header-1 h1 {
  font-size: 4.5em;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}

.header-2 {
  width: fit-content!important;
  height: fit-content!important;
  transform: skew(-12deg);
	-webkit-transform: skew(-12deg);
	   -moz-transform: skew(-12deg);
	     -o-transform: skew(-12deg);
  background: rgba(255, 255, 255, 0.8);
  margin-left: 16%;
  border-radius: 4px;
  float: none!important;
  margin-bottom: 10px;
}

.header-2 h2 {
  padding: 10px 15px;
  color: black;
  transform: skew(12deg);
  -webkit-transform: skew(12deg);
	   -moz-transform: skew(12deg);
	     -o-transform: skew(12deg);
}

.header-2 h3 {
  padding: 10px 15px!important;
  color: black;
  transform: skew(12deg);
  -webkit-transform: skew(12deg);
	   -moz-transform: skew(12deg);
       -o-transform: skew(12deg);
  text-decoration: none;
}

.header-2 p {
  padding: 10px 15px!important;
  color: black;
  transform: skew(12deg);
  -webkit-transform: skew(12deg);
	   -moz-transform: skew(12deg);
       -o-transform: skew(12deg);
}

.page-header {
  font-family: 'PT Sans', sans-serif;
  margin-top: 0;
  margin-bottom: 60px;
  color: white;
  border: 0;
  float: none!important;
  margin: 0 auto;
}

.italic {
  font-style: italic;
}

.centered {
  margin: 0 auto 10px auto;
}

.Toastify__toast-body {
  font-size: 1.4em;
}

@media only screen and (max-width: 768px) {

  .header-1 {
    height: 100vh;
  }

  .header-2 {
    width: 80%;
    margin: 15px auto 5px auto;
  }

  .header-2 h3 {
    font-size: 1.3em;
  }

}

@media only screen and (max-width: 450px) {

  .header-1 {
    height: 70vh;
  }

}

